body {
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #fbfbfd;
}

.header {
    display: flex;
    justify-content: start;
}

.logo-img {
    text-align: left;
    width: 50px;
}

.home {
    padding-left: 250px;
}

.search {
    margin-left: 470px;
    width: 330px;
    height: 50px;
    padding-left: 20px;
    font-size: 15px;
    border: 2px solid;
    border-radius: 100px;
}

.main-body {
    display: flex;
}

.left-body {
    width: 250px;
}
.side-component {
    display: block;
    width: 150px;
    margin: 15px 0 20px 40px;
    font-size: 23px;
}

.side-component:hover {
    background-color: antiquewhite;
    padding: 10px;

}

.side-post {
    display: block;
    width: 150px;
    margin: 15px 0 20px 30px;
    font-size: 23px;
    background-color: #26a7de;
    padding: 15px;
    text-align: center;
    color: #fbfbfd;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 50px;
}

.side-profile {
    display: flex;
    /* width: 30px; */
    margin: 15px 0 20px 40px;
    font-size: 23px;
}

.side-profile-accnt {
    display: block;
}

.side-profile-dp {
    width: 35px;
    border-radius: 100%;
}

.side-profile-name {
    padding-left: 10px;
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold;
}

.side-profile-username {
    font-size: 13px;
    margin-top: 1px;
    padding-left: 9px;
}

.center-body {
    background-color: azure;
    width: 600px;

}

.foll-tab {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.for-you,
.following {
    font-weight: bold;
    font-size: 15px;
}